body{
    background-image: url("./Pictures/shapelined-_JBKdviweXI-unsplash.jpg");
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1.website_name {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 10px;
    font-family: 'Courier New', Courier, monospace;
    color: crimson;
    font-weight: bolder;
}

h2{
    text-align: center;
    text-decoration: underline;
    font-style: italic;
}

h3{
    text-align: center;
    text-decoration: none;
    font-weight: bolder;
}

table {
    width: 100%;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;
    padding: 5em;
    border-bottom: solid 1px;
    background-color: lightblue;
}

table.head th, table.foot th {
    padding: 0.5em;
    width: 1em;
}

.home, .creators {
    text-align: left;
}
.announcements, .designed_date {
    text-align: center;
}

.about_us, .current_date {
    text-align: right;
}

.search {
    text-align: center;
    margin-bottom: 10px;
    font-size: x-large;
}

.search_input {
    padding: 0.75em;
    text-align: inherit;
}

.query_submit {
    color: black;
    background-color: lightcoral;
    border-radius: 8px;
    margin-top: 10px;
}

.index_explanation, .annoucement_updates {
    text-align: justify;
    width: 60%;
    margin: auto;
    background-color: aliceblue;
    padding: 10px;
    border: solid grey;
}

.team {
    text-align: center;
    width: 60%;
    margin: auto;
    background-color: aliceblue;
    padding: 10px;
    border: solid grey;
}

/* button{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: larger;
    border-radius: 10px 10px;
    border-style: solid;
    background-color: darkgray;
} */
/* th:hover{
    border-radius: 10px 10px;
    background-color: darkgray;
} */

a:link {
    text-decoration: none;
    color: black;
}

a:visited {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
    color: red;
}

a:active {
    text-decoration: none;
    color: black;
}

footer {
    position: absolute;
    font-size: small;
    bottom: 0px;
    width: 100%;
}
