h1 {
    text-align: center;
}

h3{
    text-align: center;
    text-decoration: underline;
    font-weight: bolder;
}

p{
    text-align: center;
}

table {
    width: 100%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: larger;
    padding: 1em;
    border-bottom: solid 1px;
    background-color: lightgray;
}

.home {
    text-align: left;



}

.about_us {
    text-align: right;
}

a:link {
    text-decoration: none;
    color: black;
}

a:visited {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
    color: red;
}

a:active {
    text-decoration: none;
    color: black;
}
body{
    background-image: url("./Pictures/shapelined-_JBKdviweXI-unsplash.jpg");
}

/* button{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: larger;
    border-radius: 10px 10px;
    border-style: solid;
    background-color: darkgray;
} */
/* th:hover{
    border-radius: 10px 10px;
    background-color: darkgray;
} */

th {
    width: 1em;
}

.search,
.search_input {
    padding: 1em;
    text-align: center;
}


footer {
    position: absolute;
    bottom: 0px;
    width: 99%;
}